@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	background: url('/img/bg.png');
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

#navi_con {
    position: fixed;
    left: 1080px;
    top: 15px;
}

.go_board {
    margin-right: 7px;
}

.go_board a {
    color: #24A254;
}

.logout {
    margin-left: 7px;
}

.logout a {
    color: #4D4D4D;
}

#container {
	height: 100%;
}

#back_con {

}

#myboards {
	background: url('/img/myboards.png') no-repeat center top;
	background-size: 400px;
	height: 130px;
    margin-bottom: 2px;
}

.list {
	float: left;
    height: 150px;
    width: 267px;
    left: 120px;
    margin-top: 60px;
    margin-left: 60px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
    font-size: 45px;
    text-align: center;
    padding-top: 20px;

}

.deco_con {
	float: left;
}
.tree1 {
	position: absolute;
    background: url('/img/7.jpg') no-repeat center bottom;
    background-size: 51px;
    height: 63px;
    width: 49px;
    top: 100px;
    left: 156px;
}

.tree2 {
    position: absolute;
    background: url('/img/4.jpg') no-repeat center bottom;
    background-size: 59px;
    height: 102px;
    width: 70px;
    top: 64px;
    left: 201px;
}

#add_btn {
	background: url('/img/add_btn.png') no-repeat right bottom;
	background-size: 80px;
	height: 80px;
	margin-right: 60px;
	padding-top: 450px;
    z-index: 20;
}

#add_list_con {
	display: none;
	position: fixed;
	width: 570px;
    height: 350px;
	background-color: white;
	margin: auto; 
  	top: 0; 
  	left: 0;  
  	bottom: 0;  
  	right: 0; 
  	border-radius: 20px;
  	border: 1px solid #d6dadc;
    border-bottom-color: #c4c9cc;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
}

.add_desc {
    padding: 30px;
    font-size: 35px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: url('/img/back.png') no-repeat;
    background-size: 102%;
    background-position: -4px -5px;
}

#list_input {
    margin-left: 82px;
    margin-top: 60px;
    width: 400px;
    height: 50px;
    font-size: 40px;
    border: none;
    border-bottom: 1px solid #737373;
    outline-style:none;
}

#list_buttom {
    margin-left: 230px;
    margin-top: 40px;
    width: 120px;
    height: 50px;
    font-size: 15px;
    background-color: #d9d9d9;
    border: 1px solid #cdd2d4;
    border-radius: 3px;
    color: #4D4D4D;
}

footer {
    position: fixed;
    left:0; 
    bottom:0; 
    width:100%; 
    z-index: -10;
    background: url('/img/snowglobe_snow.png') no-repeat;
    background-size: 1300px;
    height: 90px;
    opacity: 1;
}

